* {
  color: black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body {
  margin: 10px auto;
  width: 100vw;
  max-width: 1000px;
}
h1 {
  font-weight: 900;
  text-align: left;
}

.container {
  width: calc(100% - 20px);
  display: grid;
  margin: 0px auto;
  row-gap: 10px;
  column-gap: 10px;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 5px;
}
.country {
  border: solid 1px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
  justify-items: center;
  width: 5em;
}

.name {
}

.flag {
  font-size: 4em;
}
